@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
@Html.ActionLink("View the page for 1 customer", "CustomerInfo", new { id = 1 }, null)<br />
@Html.ActionLink("Render Pages for all customers", "ProcessCustomers", null, null)<br />
<br />
